.idea/
bin/
emb_samples/
.aider*
.env
coverage.out
.DS_Store

!libs/static/libtokenizers/
libs/static/libtokenizers/*
!libs/static/libtokenizers/.gitkeep

/models/
/clients/python/ghastly_client.egg-info/
**__pycache__**/
